@import "tailwindcss";

@theme {
  --color-Purple100: #dbd1fc;
  --color-Purple500: #7551dc;
  --color-Yellow100: #f9eee2;
  --color-Yellow500: #ffcc6a;
  --color-White: #fff;
  --color-Black: #121212;

  /* Font family*/
  --font-DmSans: "DM Sans", "serif";

  /* Text preset 1 */
  --text-62px: 3.875rem;
  --lh-1: 93.5%;
  --tracking-1: -3px;

  /* Text preset 2 */
  --text-40px: 2.5rem;
  --lh-2: 90%;
  --tracking-2: -2px;

  /* Text preset 3 */
  --text-32px: 2rem;
  --lh-3: 87.5%;
  --tracking-3: -2px;

  /* Text preset 4 */
  --text-18px: 1.125rem;
  --lh-1: 111%;
}

@layer components {
  .dropShadow {
    box-shadow: -9.78px 11.74px 24.45px 0 rgba(98, 26, 122, 0.05);
  }
}
